/*Background image*/
html {
    background: url(/sunset.jpg) no-repeat center center fixed;
    background-size: cover;
}


/*Format for positioning elements on home page */
.slogan {
    margin-top: 160px;
    text-align: center;
    background: clear;
}

/*styling for homepage slogan*/
#phrase {
    font-size: 35px;
    font-family: monospace ;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    text-transform: capitalize;
}



span {
    text-decoration: line-through;
    font-style: italic;
    font-family: monospace;
}

/*added a contact page link as part of slogan - lets connect*/
#link {
    color: #c7d5eb;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    font-size: 35px;
    font-family: monospace ;
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0;
}
/*pseudo code for contact page link*/
#link::before{
    color: #c7d5eb;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    font-size: 35px;
    font-family:Inconsolata,monospace ;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0;
    src: url(https://fonts.gstatic.com/s/inconsolata/v21/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WRL2kXWdycuJDETf.woff) format('woff');
}
#link:hover {
    color: #c7d5eb;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    font-size: 45px;
    font-family:Inconsolata,monospace;
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0;
}


* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/*navbar styling*/
.navbar {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,.2);
    overflow: hidden;
}

.navbar-links ul {
    padding:0;
    margin: 2rem, 2rem;
    display: flex;
    width: 100%;
    margin-top: 0;
}

.navbar-links li {
    list-style: none;
    font-family: inconsolata, monospace;
    font-size: 25px;
}

.navbar-links li a {
    color: #c7d5eb;
    text-decoration: none;
    padding: 1rem;
    display: block;
    background-color: rgba(0,0,0,.2);
    width: 18rem;
    max-width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: monospace;
    
}

.navbar-links li:hover {
    background-color: #211b4385;
    transform: scale(1);
    transition: all ease 1s;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height:21px;
} 


/*mobile friendly syntax for navbar*/
@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        max-width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }
    
    .navbar-links li a {
        padding: .6rem 1rem;
        margin: 0rem;
        width: 100%;
        font-size: 20px;
        height: 50px;
        z-index: 99;
        color: #1f2b3f;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        max-height: 40px;
    }
    
    .navbar-links ul {
        width: 100%;
        position: fixed;
        z-index: 999;
        align-items: flex-start;
        flex-direction: row;
        top: 0%;
        overflow: auto;
        white-space: nowrap;
        border-style:solid;
        border-color: #c7d5eb;
        background: #c7d5eb;

    }
    
    .header {
        display: block;
        float: none;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
    }

    .header-list ul{
        width: 100%;
        flex-direction: column;
    }

    .header-list li {
        text-align: center;
    }

    .header-list li a {
        padding: .5rem 1rem;
    }
}   


/*footer style elements*/
footer {
    background-color: rgba(0,0,0,.2);   
    position: fixed; 
    width: 100%;
    text-align: left;
    font-family: inconsolata monospace;
    font-size: 15px;
    bottom: 0;
    justify-content:flex-end;
    bottom: 0;
    left: 5px;
}

footer strong {
    font-weight: 500;
    color: #c7d5eb;
}

/*styling for bottom right linkedin icon*/
img.icons {
    bottom: 5px;
    right: 10px;
    position: absolute;
    height: 30px;
    width: 30px;
}

/*styling for bottom right insta icon*/
img.icons#insta {
    bottom: 5px;
    right: 45px;
    position: absolute;
    height: 30px;
    width: 30px;
}

/*styling so footer social icons expand upon hover*/
img.icons::before {
    bottom: 5px;
    right: 10px;
    position: absolute;
    height: 30px;
    width: 30px;
}

img.icons:hover {
    transform: scale(1.5);
}

/*footer text styling*/
p {
    font-family: iconsolate, monospace;
    text-align: left;
    margin-left: 5px;
}


/*contact page syntax for webform styling*/

.container {
    width: 500px;
    border-spacing: 7rem;
    left: 0;
    font-family: inconsolata monospace;
    font-size: 15px;
    word-spacing: 3px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    display: flexbox;
    margin-left: 0%;
    max-width: 100%;
    margin: 0%;
    color: #c7d5eb;
}

/*blog page styling here*/
 .container {
    position: relative;
    flex-wrap: wrap;
    display: flexbox;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    font-family: monospace;
    flex-grow: 2;

}

 .container .heading {
    font-weight: 300;
}

.container .row h1 {
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flexbox;
}

.container .row .col-sm {
    padding-top: 50px;
    text-align: left;
    margin: 0%;
    margin-left: 5px;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-start;
}

.blogimages {
    max-width: 50%;
    height: auto;
    padding: 5px;
    border: #c7d5eb;
    border-style:dotted;
   
}


/*about page styling*/

.container .col-sm #about {
    position: relative;
    flex-wrap: wrap;
    left: 5px;
    padding: 20px;
    text-align: center;
}

/*profile image on about me page*/
.me {
    max-width: 100%;
    width: 250px;
    height: 320px;
    max-height: 100%;
    margin: 20px;
    padding: 5px;
    border: #c7d5eb;
    border-style: dotted;
    border-radius: 50%;
}


.container .col-sm #heading {
    font-size: 30px;
    position: relative;
    font-family: monospace;
    font-weight: 500;
}

/* competency page styling */

.compcontainer h1 .history {
    font-family:  monospace;
    color: #c7d5eb;
}

.compcontainer {
    font-family: monospace;
}

.compcontainer .history {
    font-weight: 300;
    color: #c7d5eb;
    text-align: center;
}

.compcontainer .competencies {
    font-size: 20px;
    margin: 5px;
    background-color: rgba(0,0,0,.5);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    padding: 20px;
    border-style:groove;
    text-align: left;
    align-content: center;
    width: 100%;
    margin-left: 0%;
    font-family: monospace;
    color:#c7d5eb;
}

 .competencies_headings {
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    font-family: monospace;
    color: #c7d5eb;
}

/*resumé styling within competencies page*/
.resume {
    text-decoration: none;
    color: #c7d5eb;
}

.competencies_headings ul  {
    text-align: left;
    float: left;
    position: relative;
}

@media (max-width: 500px) {
    .container .competencies {
        text-align: left;
    }

    .history {
        margin-top: 5rem;
        position: relative;
    }

    .competencies_headings {
        text-align: left;
    }

    .competencies ul {
        text-align: left;
    }

}

/*contact page styling start */
.contactpage {
    display: flexbox;
    text-align: center;
    margin: auto;
    display: inline-flexbox;
    padding: 0;
    background-color: white;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 100px;
    height: 100%;
    max-width: 100%;
    align-content: center;
    box-shadow:rgba(0,0,0,.5) 15px 25px;
}
 /*mobile-friendly syntax */

@media (max-width: 800px) {
    .contactpage {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        display:flexbox;
        align-content: center;
        margin: 20px;
        position: relative;
    }
    
    .contactheading {
        max-height: 100%;
        height: 100%;
        max-width: 100%;

    }
    .contact-form {
        max-height: 100%;
        height: 100%;
        max-width: 100%;
        padding: 10px;
    }
    .contactheading h1 {
        position: relative;
        line-height: 30px;
    }
}

@media (min-height:1000px) {

    .contactcontainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 250px;
    position: relative;
    }
    .contactpage {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        display:flexbox;
        align-content: center;
        margin: 20px;
        left: 350px;
    }
    
    .contactheading {
        max-height: 100%;
        height: 100%;
        max-width: 100%;
    }
    .contact-form {
        max-height: 100%;
        height: 100%;
        max-width: 100%;
        padding: 10px;
    }
    .contactheading h1 {
        position: relative;
        line-height: 30px;
    }
}

/*pseudo hover element*/
.contactpage:hover {
    transform:scale(1.05);
}

.contactheading {
    
    font-family: monospace;
    margin-top: 100px;
    text-transform: capitalize;
    font-size: 22px;
    line-height: 10px;
    color: black;
    position: relative;
}

.contactheading h1 {
    background-color: white;
    padding-top: 30px;
    font-weight: 300;
    position: relative;
}

.contact-form {
  margin-top: 50px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
    font-family: monospace;
}

textarea {
    font-family: monospace;
    height: 100px;
}

form .submit {
    background: #c7d5eb;
    border-color: #c7d5eb;
    color: #000;
    font-family: monospace;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    height: 50px;
    max-width: 100%;
    margin-top: 20px;
    border-width: 1px;
}
 
/*hover element for button*/
form .submit:hover {
    background-color: #c7d5eb;
    cursor:pointer;
    box-shadow: rgba(0,0,0,.5) 5px 8px;
}

/*contact form syntax end*/

